# CMake
CMakeCache.txt
CMakeFiles/
*/Makefile
cmake_install.cmake
install_manifest.txt

# CTest
CTestTestfile.cmake
Testing/
DartConfiguration.tcl

build/
t.*

# vim
*.swp

base.conf
mesh.conf

bc.vtk
bc_groups.dat
stat_summary
testcase
output
out.conf
