version: 2
jobs:
  build:
    docker:
      - image: gcc:latest

    steps:
      - checkout
      - run:
          command: |
            update-alternatives --install /usr/bin/gfortran gfortran /usr/local/bin/gfortran 999
            apt update
            apt install -y --no-install-recommends apt-utils
            apt install -y make cmake libhdf5-openmpi-dev python-numpy sudo rsync libgsl-dev
            ls -al '/root'
            echo "${CIRCLE_WORKING_DIRECTORY}"
            useradd -M -d '/root' -g users -N mpiuser
            chown -R mpiuser:users '/root'
            sudo -i -H -u mpiuser sh -e -x << EOS
            mkdir -p \$HOME/bin
            export PATH=\$HOME/bin:\$PATH
            cd /root/project
            cd deploy
            ./all
            . ch.setenv
            (cd hypre ; ./_run)
            cd ../src
            ./conf
            make -j1
            make test
            EOS
