*.pyc
*.swp
*.log
*.status

*.h5
*.xmf

*.vts
*.pvd

stat.dat

pid
arg
out
job.id.last
job.id

s_*.vtk
sp_*.vtk
partit*.csv
traj*.csv

**/base.conf
mesh.conf
a.conf
par.conf
par.make
np
tl
dim
par.py
.main.gfs
main.gen.gfs
error.gfs

# gerris
u_*.vtk

# euler
lsf.*
