*.pyc
*.swp
*.log
*.status

*.h5
*.xmf

*.vts
*.pvd

stat.dat

*.pdf
*.png

pid
arg
out
job.id.last
job.id

*.dat
s_*.vtk
sp_*.vtk
partit*.csv
traj*.csv
er

**/base.conf
mesh.conf
a.conf
par.conf
np
tl
dim
par.py
.main.gfs
main.gen.gfs
error.gfs

# gerris
u_*.vtk
