stat*.dat
*.pvsm
bc_groups.dat
*.pyc
*.swp
*.log
*.status
*.h5
*.xmf
*.vts
*.pvd
stat.dat
*.pdf
pid
arg
out
out.conf
job.id.last
job.id
base.conf
mesh.conf
np
*.csv
s*.vtk
a.conf
add.conf
tl
*.so
output
!Makefile
hook/build
*.raw
