*~
*.bak
*.swp
*.swo
*.swn
*.a
*.o
lsf.*
a.out
mfer

.cproject
.project
.settings


# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

CTestTestfile.cmake
Testing/

# exe
ex
